

#navbar {
    display: grid;
    height: 20px;
    width: 100%;
    position: absolute;
}
/* 
#navbar::after {
    background-color: #454545;
    content: "";
    width: 100%;
    height: 3em;
} */

#signature {
    display: grid;
    font-family: 'Alata', sans-serif;
    w3-animate-top: 
}

#introContainer {
    background-color: palegreen;
}
#knowContainer {
    background-color: palevioletred;
}
#work {
    background-color: palegreen;
}
#projects {
    background-color: palevioletred;
}