body {
    background: rgb(244,244,244);
    background: linear-gradient(45deg, rgba(244,244,244,1) 0%, rgba(219,2,174,1) 0%, rgba(105,245,220,1) 88%); 
}
#signature {
    display: grid;
    font-family: 'Alata', sans-serif;
}
#hireMe {
    display: grid;
    align-self: center;
    justify-self: center;
    width: 70%;
    height: 400px;
    margin: 2em;
    padding: 2em;
    border: 2px solid yellow;

}
.hireChild {
    align-self: center;
    justify-self: center;
}

#thinker  {
    animation-name: "thinkEffect";
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
@keyframes thinkEffect {
    0%   {font-size: 16px;}
    50%  {font-size: 18px;}  
    100%  {font-size: 16px;}
  }
#exists  {
    animation-name: "existEffect";
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes existEffect {
    0%  {color: maroon;}
    14%  {color: red;}
    28%   {color: orange;}
    42%  {color: green;}
    56%  {color: blue;}
    70%  {color: blueviolet;}
    84%  {color: indigo;}
    100%  {color: black;}
  }
/* INTRO SECTION START */
#introContainer, #knowContainer {
    display: grid;
    min-width: 35%;
    max-width: 90%;
    margin: 2em;
    height: auto;
    justify-self: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}
#about, #languages, #tools {
    max-width: 75%;
    background-color: whitesmoke;
    opacity: .8;
    border-radius: 0 5% 0 5%;
    width: auto;
    height: auto;
    display: grid;
    justify-self: center;
    text-align: center;
    -webkit-box-shadow: 7px 7px 8px 3px rgba(0,0,0,1);
    -moz-box-shadow: 7px 7px 8px 3px rgba(0,0,0,1);
    box-shadow: 7px 7px 8px 3px rgba(0,0,0,1);
}
#knowContainer {
    width: 500px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#languages, #tools {
    background-color: wheat;
    border-radius: 0px;
    align-self: center;
}
#about-sect {
    width: 75%;
    justify-self: center;
    opacity: 1;
}
#name {
    font-size: 75px;    
    font-family: 'Merriweather', serif;
    opacity: 1;
    margin: 5px;
    padding: .1em;
}
#developer {
    font-size: 65px;
    opacity: 1;
    margin: 5px;
    padding: .1em;
    font-family: 'Merriweather', serif;
}
/* INTRO SECTION END */

/* KNOWLEDGE START */


#languages {
    opacity: 1;
}
#tools {
    opacity: 1;
}
/* KNOWLEDGE END */


#work {
    background-color: palegreen;
}
#projects {
    background-color: palevioletred;
}   

/* #navbar {
    display: grid;
    position: fixed;
    width: 100%;
    height: 3em;
    top: 0px;
    background: cadetblue;
    left: 0em;
    margin: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-content: center;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
} */
a {
    color: black;
    text-decoration-line: none;
}
ul {
    list-style-type: none;
}
#block {
    height: 3em;
}

#navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    max-width: auto; /* Full width */
    width: 100%;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    margin: 0;
    left: 0;
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }